
Ejemplos/.ipynb_checkpoints/Funciones auxiliares-checkpoint.ipynb

Ejemplos/.ipynb_checkpoints/Funciones auxiliares-checkpoint.ipynb

Ejemplos/.ipynb_checkpoints/Funciones auxiliares-checkpoint.ipynb
